#intro{
	text-align: center;
	margin: auto;
	max-width: 600px;
	background-color: white;
}
body{
	max-width: 1080px;
	margin:	auto;
	background-color:#e9ebee;
}
.box{
	border-radius: 5px;
	font-size: 16px;
	color:	black;
	border:	1px solid black;
	padding: 5px;
	margin-top: 10px;
	display: inline-block;
	padding-bottom:10px;
}
#img{
	margin: auto;
	padding: 10px;
}
.grey{
	font-weight: bold;
	font-size: 17px;
	color: #333333;
}
h3{
	text-align: center;
	
}
#btm{
	text-align: center;
}
